@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 245, 245, 245;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer components {
  .container {
    @apply px-4 mx-auto;
    max-width: 1280px;
  }
  
  .btn {
    @apply py-2 px-4 rounded-lg font-medium transition-all;
  }
  
  .btn-primary {
    @apply bg-amber-500 text-white hover:bg-amber-600 shadow-md hover:shadow-lg hover:-translate-y-0.5 active:translate-y-0;
  }
  
  .btn-secondary {
    @apply bg-zinc-200 text-zinc-800 hover:bg-zinc-300;
  }
  
  .input {
    @apply block w-full px-3 py-2 border border-zinc-300 rounded-lg focus:ring-2 focus:ring-amber-500 focus:border-amber-500;
  }
}
